.App {
  height: 100%;
  width: 100%;
  overflow: auto;
  position: absolute;
}

.App-logo {
  grid-column: 1;
  height: 70px;
  margin-top: 17px;
  margin-left: 50px;
}

.App-header, .App-footer, .App-content {
  position: absolute;
  left: 0;
  width: 100%;
}

.App-header, .App-footer {
  overflow: hidden;
  background: #FEFEFE;
  z-index: 10;
}

.App-header {
  top: 0;
  -webkit-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
  box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
  height: 100px;
  display: grid;
  align-items: center;
  grid-template-columns: 30% 40% 30%;
  font-size: 20px;
}

.App-footer {
  bottom: 0;
  -webkit-box-shadow: 0 -7px 8px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 -7px 8px rgba(0, 0, 0, 0.12);
  box-shadow: 0 -7px 8px rgba(0, 0, 0, 0.12);
  height: 50px;
}

.App-content {
  top: 100px;
  bottom: 50px;
  overflow: auto;
  background: #FFFFFF;
}

.App-info {
  display: grid;
  align-items: center;
  height: 100%;
  grid-template-columns: 25% 50% 25%;
}

.App-info-author {
  grid-column: 1;
  margin-left: 20px;
  text-align: left;
}

.App-info-title {
  grid-column-start: 2;
  text-align: center;
}

.App-info-time {
  grid-column: 3;
  margin-right: 20px;
  text-align: right;
}

.App-name-container {
  grid-column: 2;
  padding-left: 200px;
  padding-right: 200px;
  text-align: center;
}

.App-name {
  background-color: #DDEBF7;
}

.App-navigation {
  grid-column: 3;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  padding-left: 150px;
  padding-right: 150px;
  text-align: center;
}

 .Nav-dashboard, .Nav-newcall {
   padding: 10px;
   border: 1px solid #FFFFFF;
 }

 .Nav-dashboard {
   grid-column: 1;
 }

 .Nav-newcall {
   grid-column: 2;
 }

 .Nav-dashboard:hover, .Nav-newcall:hover {
   border-top: 1px solid #FFFFFF;
   border-left: 1px solid #FFFFFF;
   border-right: 1px solid #FFFFFF;
   border-bottom: 1px solid #4272c4;
   color: #4272c4;
   font-weight: bold;
 }
